*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: white;
    color:black; 
  }


  /* top header */
  .topContainer{
    height:50px;
    width:100%;
    background-color: #1877f2;
    display:flex;
    align-items:center;
    position:sticky;
    top:0;
    z-index:999;

  }
  .topLeft{
    flex:3;
  }
  .logo{
    font-size: 27px;
    margin-left: 25px;
    font-weight: bold;
    color:white;
    cursor:pointer;
  }
  .topRight{
    flex:4;
    display:flex;
    align-items: center;
    justify-content: space-around;
    color:white;
  }

  .topbarLink{
    margin-right:10px;
    font-size:14px;
    cursor:pointer;
  }

  .topbarIcons{
    display:flex;
  }
  .topbarIconItem{
    margin-right:15px;
    cursor:pointer;
    position:relative;
  }
  .topbarIconBadge{
    width:15px;
    height:15px;
    background-color:red;
    border-radius:50%;
    color:white;
    position:absolute;
    top:-5px;
    right:-5px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

  .topCenter{
    flex:5;
}

.searchbar{
    width:100%;
    height:30px;
    background-color: white;
    border-radius: 2px;
    display:flex;
    align-items: center;
}
.searchIcon{
    font-size: 20px !important;
    margin-left:5px;
}
.searchInput{
    border:none;
    width:70%;
    margin-left:5px;
    font-size:14px;
}
.searchInput:focus{
    outline:none ;
}
.topbarImg{
    width:32px;
    height:32px;
    border-radius: 50%;
   object-fit:cover;
   cursor:pointer;
}

/* home page */
.homeContainer{
    display:flex;
    width:100%;
}

/* sidebar */
.sidebar{
    flex:3;
    height:calc(100vh - 50px);
    /* background-color: ; */
    overflow-y: scroll;
    position:sticky;
    top:50px;
}

::-webkit-scrollbar{
    width:7px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(179,179,179);
}

.sidebarWrapper{
    padding:20px;
    /* background-color: white; */
}
.sidebarList{
    margin:0;
    padding:0;
    list-style:none;
}
.sidebarListItem{
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}
.sidebarIcon{
    margin-right:15px;
}
.sidebarButton{
    width:150px;
    border:none;
    padding:10px;
    border-radius:5px;
    font-weight: 500;
}
.sidebarHr{
    margin: 20px 0;
}
.sidebarFriendList{
    padding:0;
    margin:0;
    list-style: none;
}
.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom:15px;
}
.sidebarFriendImg{
    width:32px;
    height:32px;
    border-radius: 50%;
   object-fit: cover;
   margin-right:10px;
}

/* feed */
.feed{
    flex:5.5;
}
.feedWrapper{
    padding:20px;
}

/* share */
.share{
    width:100%;
    height:170px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    
}
.shareWrapper{
    padding:10px;
}
.shareProfileImg{
    width:50px;
    height:50px;
    border-radius: 50%;
    object-fit:cover;
    margin-right:10px;
}
.shareTop{
    display: flex;
    align-items: center;
}
.shareInput{
  border:none;
  width:80%;
}
.shareInput:focus{
    outline:none;
}
.shareHr{
    margin:20px;
}
.shareButton{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.shareOptions{
    display: flex;
    margin-left: 20px;
}
.shareOption{
    display:flex;
    align-items: center;
    margin-right: 15px;
    cursor:pointer;
}
.shareIcon{
    font-size: 18px;
    margin-right:3px;
}
.sharebutton{
    border:none;
    padding:7px;
    border-radius: 5px;
   font-weight:500;
   margin-right: 20px;
   cursor: pointer;
   background-color: green;
   color:white;
}
/* post */
.post{
    width:100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    margin:30px 0;
    
}
.postWrapper{
    padding:10px;
}
.postTop{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.postTopLeft{
    display: flex;
    align-items: center;
}
.postProfileImg{
    width:32px;
    height: 32px;
    border-radius: 50%;
    object-fit:cover;
}
.postUsername{
    font-size: 15;
    font-weight: 500;
    margin:0 10px;

}
.postDate{
font-size: 12px;
}

.postCenter{
    margin:20px 0;
}
.postImg{
    margin-top:20px;
    width:100%;
}
.likeIcon{
    width:24px;
    height:24px;
   margin-right:5px;
   cursor: pointer;
}
.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postBottomLeft{
    display: flex;
    align-items: center;
}
.postLikeCounter{
    font-size: 15px;
}
.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}

/* rightbar */
.rigthbar{
    flex:3.5;
}
.birthdayContainer{
    display: flex;
    align-items: center;
}
.rightbarWrapper{
    padding:20px 20px 0 0;
}
.birthdayImg{
    width:40px;
    height:40px;
    margin-right:10px;
}
.birthdayText{
    font-weight: 300;
    font-size: 15px;
}
.bold{
    font-weight: 500;
    font-size: 15px;
}
.rightbarAd{
    width:100%;
    border-radius:10px;
    margin: 30px 0;
}
.rigthbarTitle{
    margin-bottom: 20px;
}
.rightbarFriendList{
    margin:0;
    padding:0;
    list-style: none;
}
.rightbarFriends{
    display: flex;
    align-items: center;
    margin-bottom:15px;

}
.rigthbarProfileImgContainer{
    margin-right:10px;
    position:relative;
}
.rigthbarProfileImg{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
}
.rightbarOnline{
    width:12px;
    height:12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top:-1;
    right:0;
    border: 2px solid white;
}
.rigthbarUsername{
    font-weight: 500;
}
 
/* profile */
.profile{
    display: flex;
}

.profileRight{
    flex: 9;
}

.profileCover{
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottom{
    display: flex;
}

.rightbarInfo{
    margin-bottom: 30px;;
}
.rightbarInfoItem{
    margin-bottom: 10px;
}
.rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color:#555;
}
.rightbarInfoValue{
    font-weight: 300;
}
.rightbarTitle{
    font-size:18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rightbarFollowing{
    display: flex;
   flex-direction: column;
;
}
.rightbarFollowingImg{
    width: 120px;
    height:120px;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* login-page */
.login{
    width:100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}